{% load sekizai_tags %}

{% block form %}
<form class="addon addon-aldryn-forms{% block form_classes %}{% if instance.custom_classes %} {{ instance.custom_classes }}{% endif %}{% endblock form_classes %}" role="form" method="post">
	{% csrf_token %}
	{% for field in form.hidden_fields %}
	    {{ field }}
	{% endfor %}

    {% block form_elements %}{% endblock form_elements %}
</form>
{% endblock form %}

{# INFO: this hack is currently required as backend does not know where to redirect #}
{% addtoblock "js" %}
{% if form_success_url %}
<script>
    window.location.reload('{{ form_success_url }}');
</script>
{% endif %}
{% endaddtoblock %}
