{% load i18n %}

{% if field %}
    <div class="form-group{% if field.field.required %} form-required{% endif %}{% if field.errors %} text-danger{% endif %}">
        {% if field.label %}
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}<abbr title="{% trans "Required field" %}">*</abbr>{% endif %}</label>
        {% else %}
        <label class="control-label" for="{{ field.auto_id }}"><span class="sr-only">{% trans "Move to" %}</span>&nbsp;</label>
        {% endif %}
        <div class="control-field">{{ field }}</div>
        {% if field.errors %}{% for error in field.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}{% endif %}
        {% if field.help_text %}<p class="text-info">{{ field.help_text }}</p>{% endif %}
    </div>
{% else %}
    <div class="form-group"><p>{% trans "Field outside of form." %}</p></div>
{% endif %}
