{% load i18n %}

{% if not field %}
<div class="alert alert-warning" role="alert">
    <p>{% trans "Field outside of form." %}</p>
</div>
{% endif %}

{% if field %}
<div class="form-group{% if field.field.required %} form-required{% endif %}{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ field.auto_id }}">
        {% if field.label %}
            {{ field.label }}{% if field.field.required %}<abbr title="{% trans "Required field" %}">*</abbr>{% endif %}
        {% else %}
            <span class="sr-only">{{ field.label }}</span>
        {% endif %}
    </label>

    {# TODO: implement something like {{ field|custom_class:"form-control" }} #}
    <div class="control-field">{{ field }}</div>

    {% if field.errors %}{% for error in field.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}{% endif %}
    {% if field.help_text %}<span class="help-block">{{ field.help_text }}</span>{% endif %}
</div>
{% endif %}
